@import "../../style/main.scss";

.loader {
  padding: 20px;

  .spinner {
    animation: flash 0.5s ease-out infinite alternate;
    background-color: var(--primary-base-color);
    border-radius: 50%;
    box-shadow: 32px 0 var(--primary-base-color),
      -32px 0 var(--primary-base-color);
    height: 16px;
    width: 16px;

    @keyframes flash {
      0% {
        background-color: var(--secondary-dark-color);
        box-shadow: 32px 0 var(--secondary-dark-color),
          -32px 0 var(--primary-base-color);
      }
      50% {
        background-color: var(--primary-base-color);
        box-shadow: 32px 0 var(--secondary-dark-color),
          -32px 0 var(--secondary-dark-color);
      }
      100% {
        background-color: var(--secondary-dark-color);
        box-shadow: 32px 0 var(--primary-base-color),
          -32px 0 var(--secondary-dark-color);
      }
    }
  }
}
