button {
  background-color: var(--primary-base-color);
  color: var(--secondary-base-color);
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;

  @include mobile-hover {
    &:hover {
      background-color: var(--secondary-light-color);
    }
  }
}
