button {
  background-color: var(--primary-base-color);
  color: var(--secondary-base-color);
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;

  @include hover-supported {
    &:hover {
      background-color: var(--secondary-light-color);
    }
  }

  &[disabled] {
    background-color: var(--primary-base-color);
    cursor: not-allowed;
    opacity: 0.25;
  }
}
