.dark-theme {
  --primary-base-color: var(
    --imported-dark-theme-primary-base-color,
    invert(#{$default-primary-base-color})
  );
  --primary-light-color: var(
    --imported-dark-theme-primary-light-color,
    invert(#{$default-primary-light-color})
  );
  --secondary-base-color: var(
    --imported-dark-theme-secondary-base-color,
    invert(#{$default-secondary-base-color})
  );
  --secondary-dark-color: var(
    --imported-dark-theme-secondary-dark-color,
    invert(#{$default-secondary-dark-color})
  );
  --secondary-light-color: var(
    --imported-dark-theme-secondary-light-color,
    invert(#{$default-secondary-light-color})
  );
}

:export {
  darkTheme: dark-theme;
}
