$theme-name: "light";

$primary: hsl(148 51% 33%);
$secondary: hsl(216 100% 99%);
$secondary-dark: hsl(218 37% 71%);
$secondary-light: hsl(217 19% 38%);
$footer-primary: hsl(228 45% 44%);
$primary-light: hsl(195 83% 5%);

.#{$theme-name} {
  --color-primary: var(
    --imported-#{$theme-name}-theme-color-primary,
    #{$primary}
  );
  --color-primary-light: var(
    --imported-#{$theme-name}-theme-color-primary-light,
    #{$primary-light}
  );
  --color-secondary: var(
    --imported-#{$theme-name}-theme-color-secondary,
    #{$secondary}
  );
  --color-secondary-light: var(
    --imported-#{$theme-name}-theme-color-secondary-light,
    #{$secondary-light}
  );
  --color-secondary-dark: var(
    --imported-#{$theme-name}-theme-color-secondary-dark,
    #{$secondary-dark}
  );

  --color-footer-primary: var(
    --imported-#{$theme-name}-theme--color-footer-primary,
    #{$footer-primary}
  );
}

:export {
  #{$theme-name}: #{$theme-name};
}
