header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

// BUG:

/* TODO:
 [x] add styling for header
 [ ] add mobile mixin
 [ ] change header layout to flex row on mobile */
