@import "./fonts";
@import "./typography";

:root {
  --primary-base-color: var(
    --imported-primary-base-color,
    #{$default-primary-base-color}
  );
  --primary-light-color: var(
    --imported-primary-light-color,
    #{$default-primary-light-color}
  );
  --secondary-base-color: var(
    --imported-secondary-base-color,
    #{$default-secondary-base-color}
  );
  --secondary-dark-color: var(
    --imported-secondary-dark-color,
    #{$default-secondary-dark-color}
  );
  --secondary-light-color: var(
    --imported-secondary-light-color,
    #{$default-secondary-light-color}
  );

  --font-family: var(--imported-font-family, #{$font-family});
  --font-weight: var(--imported-font-weigh, #{$font-weight});

  --font-size-large: var(--imported-font-size-large, #{$font-size-large});
  --font-size-medium: var(--imported-font-size-medium, #{$font-size-medium});
  --font-size-small: var(--imported-font-size-small, #{$font-size-small});

  --footer-primary-color: var(
    --imported-footer-primary-color,
    #{$footer-primary-color}
  );
}

body {
  margin: 0;
  padding: 0px;

  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size-large);

  color: var(--primary-light-color);

  background-color: var(--secondary-dark-color);
}
