@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

$family: "Manrope", sans-serif;
$weight-extra-bold: 800;

$size-large: 1.75rem;
$size-medium: 1.125rem;
$size-small: 0.75rem;

$line-height: 1.5;
