// Base colors
$black: black;
$white: white;

// Primary colors
$default-primary-light-color: hsl(193, 38%, 86%);
$default-primary-base-color: hsl(150, 100%, 66%);

// Secondary colors
$default-secondary-base-color: hsl(217, 19%, 24%);
$default-secondary-dark-color: hsl(218, 23%, 16%);
$default-secondary-light-color: hsl(217, 19%, 38%);
