@use "../../style/utils/media";

.adviceCard {
  @include media.mobile-layout;

  background-color: var(--color-secondary);
  border-radius: 10px;
  height: fit-content;
  max-width: 500px;
  min-height: 300px;
  padding: 35px;
  position: relative;
  width: 80%;

  @include media.mobile {
    min-height: 400px;
  }
}
